@model UserModel
@{
    ViewData["Title"] = "Reset Password Page";

    var message = TempData["SuccessfulUpdate"];
    TempData.Keep("SuccessfulUpdate");
}

<div class="text-center">
    <h1 class="display-4">Forgot Password?</h1>
    <h4>Please enter your Username and E-mail to recieve a new password on your E-mail.</h4>
</div>
<br />
<div class="text-center">
    <h6 style="color: red"><b>@ViewBag.error</b></h6>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Username">Enter your Username</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Enter your Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Send New Password" class="btn btn-success" />
            </div>
        </form>
        <br />
        <div class="footer-links">
            @if (User.Identity.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Go back to chat page", "Index", "Chat")
            </div>
        }
        else
        {
            <div>
                @Html.ActionLink("Go back to login page", "Index")
            </div>
        }
        </div>        
    </div>
</div>
