@{
    ViewData["Title"] = "Reset Password";

    var message = TempData["ResetPassword"];
    TempData.Keep("ResetPassword");
}
@section Scripts
{
<script src="~/js/passwordValidation.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Change Your Password</h1>
</div>
<div class="text-center">
    <h6 style="color: red"><b>@ViewBag.error</b></h6>
</div>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" name="oldPswd" class="form-control"/>
            </div>
            <div class="footer-links">
                @Html.ActionLink("Forgot Password?", "ForgetPassword")
            </div>            
            <div class="form-group" style="position: relative;">
                <label>New Password</label>
                <input type="password" id="new1Password" name="new1Pswd" class="form-control"/>
                @*box for password strength validation*@
                <div id="pswd_info" class="pswd-security">
                    <h4>Password must meet the following requirements:</h4>
                    <ul>
                        <li id="letter" class="invalid">At least <strong>one lowercase character</strong></li>
                        <li id="capital" class="invalid">At least <strong>one uppercase character</strong></li>
                        <li id="number" class="invalid">At least <strong>one number</strong></li>
                        <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
                        <li id="special" class="invalid">At least <strong>one special character</strong></li>
                    </ul>
                </div>
                @*end*@
            </div>
             <div class="form-group" style="position: relative;">
                <label>Reenter Password</label>
                <input type="password" id="new2Password" name="new2Pswd" class="form-control"/>
                @*box for password equality validation*@
                <div id="pswd_equal" class="pswd-security">
                    <ul>
                        <li id="match" class="invalid"></li>
                    </ul>
                </div>
                @*end*@
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-success" />
            </div>
        </form>
        <br />
        <div class="footer-links">
            @Html.ActionLink("Go Back to Profile Page", "Profile")
        </div>
    </div>
</div>