@model List<GroupModel>
@using HermesChatApp.Models;
@section Scripts
{
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
}

<div class="chat-main">
    <h1 style="text-align:center" ;>Chat Page</h1>
    <h4 class="chat-header" id="chat-intro" style="text-align:center" ;></h4>

    <div class="message-box">
        <ul id="messagesList"></ul>
    </div>

    <div class="chat-input">
        <textarea id="messageInput" placeholder="Your text here..."></textarea>
        <button id="sendButton" style="font-weight: bold"> Send <i class="fa fa-paper-plane fa-x "></i></button>
    </div>
</div>

<div id="mySidenavUsers" class="sidenavRight">
    <p style="text-align:center;font-weight: bold;color:white;">Users Online</p>
    <div class="row text-center">
        <ul id="userOnlineList"></ul>
    </div>
</div>

<div class="groups-main">
        <div id="mySidenavGroups" class="sidenavLeft">
        <p style="text-align:center;font-weight: bold;color:white;">Group Chat Rooms</p>
        <button id="backToMain" class="btn btn-warning btn-lg" onclick="location.href='@Url.Action("Index", "Chat")'">Main Chat</button>
        <div>
            <div class="text-center">
                <h6 id="groupError"></h6>
            </div>
            <div class="form-group">
                <label style="color:white;">Enter new room name</label>
                <input id="GroupChatName" name="groupName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="button" id="joinGroupButton" style="font-weight: 500;background-color:aliceblue" value="Add new" />
            </div>
        </div>
        <p style="text-align:center;font-weight: bold;color:white">Chat Rooms Online</p>
        <div id="groupOnlineList" class="row text-center">
            <ul id="groupList"></ul>
        </div>
    </div>
</div>
<div class="footer navbar-fixed-bottom"></div>





